[General]
log_file=/tmp/bugone.log

[BugOne]
bugone_network_db=/path/to/bugnet.yaml

[Server]
address=localhost
port=40666

[InfluxDB]
address=localhost
port=8086
ssl=no
database=bugone
user=bugone
password=bugone


